@tailwind base;
@tailwind components;
@tailwind utilities;

/* public/fonts/OTF/Zodiak-Bold.otf */
/* /fonts/font-bold/infini-bold.otf */
@font-face {
  font-family: 'Zodiak-Bold';
  src: url('../public/fonts/OTF/Zodiak-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Infini-Bold';
  src: url('../public/fonts/font-bold/infini-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
